* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.container {
  background-color: #fff;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 36px;
  border-radius: 7px;
  box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.07);
}

.text-container {
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.qr-image {
  width: 100%;
  transform: scale(0.9);
  border-radius: 12px;
}

.qr-header {
  font-weight: bold;
  font-size: 17px;
}

.qr-text {
  font-size: 13px;
  color: #999;
}
